.ml-10 {
    margin-left: 10px;
}

:host::ng-deep .ui-dialog-titlebar-close {
    display: none;
}

:host::ng-deep .ui-card {
    box-shadow: none !important;
}

:host::ng-deep .ui-dialog {
    top: 20px !important;
}