<p-dataView [value]="doctors"  [paginator]="true" [rows]="10">
    <p-header>Doctors</p-header>
    <ng-template let-doctor pTemplate="listItem">
        <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-12 ui-md-3" style="text-align:center">
                <img src="assets/img/logo.png" width="100px" height="100px">
            </div>
            <div class="ui-g-12 ui-md-6 car-details">
                <div class="ui-g">
                    <div class="ui-g-2 ui-sm-6">Name: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{doctor.name}}</b></div>

                    <div class="ui-g-2 ui-sm-6">Lastname: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{doctor.lastName}}</b></div>

                    <div class="ui-g-2 ui-sm-6">Address: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{doctor.address}}</b></div>

                    <div class="ui-g-2 ui-sm-6">DateBirth: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{doctor.dateBirth}}</b></div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-3">
                <button pButton type="button" class="ml-10" icon="pi pi-users" pTooltip="Show patients" tooltipPosition="bottom" (click)="showPatientsModal(doctor.patients)"></button>
                <button pButton type="button" class="ui-button-warning ml-10" icon="pi pi-plus" pTooltip="Add patient" tooltipPosition="bottom" (click)="showListPattientsToAdd(doctor.id)"></button>
                <button pButton type="button" class="ui-button-warning ml-10" icon="pi pi-pencil" pTooltip="Edit doctor information" (click)="showEditDoctor(doctor)" tooltipPosition="bottom"></button>
                <button pButton type="button" class="ui-button-danger ml-10" icon="pi pi-trash" pTooltip="Delete doctor" tooltipPosition="bottom" (click)="deleteDoctor(doctor.id)"></button>
            </div>
        </div>
    </ng-template>
</p-dataView>
<p-dialog header="Patients" [(visible)]="showPatients" [modal]="true" [responsive]="true" [maximizable]="true"
    [baseZIndex]="10000">
    <app-patient-list-for-doctor [patients]="patientsM"></app-patient-list-for-doctor>
    <p-footer>
        <button type="button" pButton icon="pi pi-close" (click)="showPatients=false" label="Close"
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>

<p-dialog *ngIf="doctorId != null" header="Patients" [(visible)]="showToAddPatient" [modal]="true" [responsive]="true" [maximizable]="true"
    [baseZIndex]="10000">
    <app-patient-selected [doctorId]="doctorId"></app-patient-selected>
    <p-footer>
        <button type="button" pButton icon="pi pi-close" (click)="closeDialogAddPatient()" label="Close"
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>

<p-dialog *ngIf="doctor != null" header="Edit doctor" [(visible)]="showEditDoctorPanel" [modal]="true" [responsive]="true" [maximizable]="true"
    [baseZIndex]="10000">
    <app-doctor-update [doctor]="doctor"></app-doctor-update>
    <p-footer>
        <button type="button" pButton icon="pi pi-close" (click)="closeDialogEditDoctor()" label="Close"
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>