:host::ng-deep .ui-inputtext {
  width: 100%;
}

:host::ng-deep .ui-button {
  margin-top: 20px;
  width: 100%;
}

p-button {
  width: 100%;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.text-left-mt5{
    color: rgb(247, 18, 18);
}
