<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
  <div style="margin-top: 20px;">
    <p-card>
      <span class="ui-float-label">
        <input id="float-name" type="name" formControlName="name" size="40" class="input" pInputText>
        <label for="float-name">Name</label>
      </span>
      <div *ngIf="inputValidator('name')" class="text-left-mt5">
        <span style="display: block;" *ngIf="inputRequiredValidator('name')">Name is required</span>
        <span style="display: block;" *ngIf="inputMaxLengthValidator('name')">The text is very long, maximum size 255</span>
      </div>
      <span class="ui-float-label">
        <input id="float-lastName" type="lastName" formControlName="lastName" size="40" class="input" pInputText>
        <label for="float-lastName">Lastname</label>
      </span>
      <div *ngIf="inputValidator('lastName')" class="text-left-mt5">
        <span style="display: block;" *ngIf="inputRequiredValidator('lastName')">Lastname is required</span>
        <span style="display: block;" *ngIf="inputMaxLengthValidator('lastName')">The text is very long, maximum size 255</span>
      </div>
      <span class="ui-float-label">
        <input id="float-address" type="address" formControlName="address" size="40" class="input" pInputText>
        <label for="float-address">Address</label>
      </span>
      <div *ngIf="inputValidator('address')" class="text-left-mt5">
        <span style="display: block;" *ngIf="inputRequiredValidator('address')">Address is required</span>
        <span style="display: block;" *ngIf="inputMaxLengthValidator('address')">The text is very long, maximum size 255</span>
      </div>
      <span class="ui-float-label" style="float: left;">
        Date of birth
      </span>
      <input type="date" formControlName="dateBirth" class="input">
      <span class="ui-float-label">
        <input id="float-profileImageUrl" type="profileImageUrl" formControlName="profileImageUrl" size="40"
          class="input" pInputText>
        <label for="float-profileImageUrl">ProfileImage</label>
      </span>
      <div *ngIf="inputValidator('profileImageUrl')" class="text-left-mt5">
        <span style="display: block;" *ngIf="inputRequiredValidator('profileImageUrl')">profileImage is required</span>
        <span style="display: block;" *ngIf="inputMaxLengthValidator('profileImageUrl')">The text is very long, maximum size 255</span>
      </div>
      <p-button label="Update" type="submit" [disabled]="formValidator">
      </p-button>
    </p-card>
  </div>
</form>