<p-table [columns]="cols" [value]="notes" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns">
              {{col.header}}
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
          <td *ngFor="let col of columns" style="word-wrap: break-word;">
              {{rowData[col.field]}}
          </td>
      </tr>
  </ng-template>
</p-table>