<p-listbox [(ngModel)]="selectedPatients" [style]="{'width':'100%'}" [options]="patients" multiple="multiple" checkbox="checkbox" filter="filter"
    optionLabel="name"></p-listbox>
    <p-button class="mt-20" label="Save" (click)="addPatient()"></p-button>