<div class="navbar">
  <div class="navbar-content">
    <a class="color-blue menu-btn" (click)="this.showMenu = !this.showMenu">
      <i class="pi pi-bars"></i>
    </a>
    <a [routerLink]="['/hospitals/list']">
      <img class="logo" src="assets/img/logo.png" alt="Logo">
    </a>
  </div>
</div>

<p-sidebar [(visible)]="showMenu" [baseZIndex]="10000">
  <div class="mt-30">
    <p-panelMenu [model]="items" [style]="{'width':'auto'}"></p-panelMenu>
  </div>
</p-sidebar>
