.navbar {
  width: 100%;
  background-color: #ffffff;
  height: 60px;
  padding: 10px;
  box-shadow: 0 6px 8px rgba(102, 119, 136, 0.03),
    0 1px 2px rgba(102, 119, 136, 0.3);
}

.navbar-content {
  position: relative;
}

a {
  font-size: 2em;
  cursor: pointer;
}

.fl-right {
  float: right;
}

.color-blue {
  color: #116fbf;
}

.logo {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.text-menu {
  font-size: 1em;
  padding: 10px;
  display: inline-block;
  border-radius: 15px;
  box-shadow: 0 6px 8px rgba(102, 119, 136, 0.03),
    0 1px 2px rgba(102, 119, 136, 0.3);
  margin-right: 5px;
}

.text-menu:hover {
  background-color: #116fbf;
  color: #ffffff;
}

/* Sidebar body */
:host::ng-deep .ui-sidebar-active {
  padding: 15px 0 0 0;
  border: 0;
  background-color: #116fbf;
}

/* Submenu sidebar */
:host::ng-deep .ui-panelmenu .ui-panelmenu-header > a {
  background-color: #116fbf;
  color: #ffffff;
  border: 0;
}

:host::ng-deep .ui-panelmenu .ui-panelmenu-header {
  padding: 2px;
}

/* Icon close sidebar */
:host::ng-deep .ui-sidebar .ui-sidebar-close {
  margin-right: 15px;
  font-size: 1.1em;
  color: #ffffff;
}

/* Icon submenu */
:host::ng-deep .ui-panelmenu .ui-panelmenu-header > a .ui-panelmenu-icon {
  color: #ffffff;
  cursor: pointer;
}

:host::ng-deep .pi {
  font-size: 1em;
}
