<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
  <div style="margin-top: 20px;">
    <p-card>
      <span class="ui-float-label">
        <input id="float-name" type="name" formControlName="name" size="40" class="input" pInputText>
        <label for="float-name">Name</label>
      </span>
      <div *ngIf="inputValidator('name')" class="text-left-mt5">
        <span style="display: block;" *ngIf="inputRequiredValidator('name')">Name is required</span>
        <span style="display: block;"*ngIf="inputMaxLengthValidator('name')">The text is very long, maximum size 255</span>
      </div>
      <p-button label="Update" type="submit" [disabled]="formValidator">
      </p-button>
    </p-card>
  </div>
</form>