<p-dataView [value]="specialities" [paginator]="true" [rows]="10">
    <p-header>Specialities</p-header>
    <ng-template let-speciality pTemplate="listItem">
        <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-12 ui-md-3" style="text-align:center">
                <img src="assets/img/logo.png" width="100px" height="100px">
            </div>
            <div class="ui-g-12 ui-md-6 car-details">
                <div class="ui-g">
                    <div class="ui-g-2 ui-sm-6">Name: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{speciality.name}}</b></div>

                    <div class="ui-g-2 ui-sm-6">Description: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{speciality.description}}</b></div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-3">
                <button pButton type="button" class="ui-button-warning mr-10" icon="pi pi-pencil"
                    pTooltip="Edit speciality information" tooltipPosition="bottom" (click)="editSpeciality(speciality)"></button>
                <button pButton type="button" class="ui-button-danger mr-10" icon="pi pi-trash"
                    pTooltip="Delete speciality" tooltipPosition="bottom"
                    (click)="deleteSpeciality(speciality.id)"></button>
            </div>
        </div>
    </ng-template>
</p-dataView>

<p-dialog *ngIf="specialitySelected != null" header="Edit note" [style]="{'max-width': '400px'}" [(visible)]="showUpdate" [modal]="true"
    [responsive]="true" [maximizable]="true" [baseZIndex]="10000">
    <app-specialities-update [speciality]="specialitySelected"></app-specialities-update>
    <p-footer>
        <button type="button" pButton icon="pi pi-close" (click)="closeModalEdit()" label="Close"
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>