<p-listbox [(ngModel)]="selectedDoctors" [style]="{'width': 'auto'}" [options]="doctors" multiple="multiple" checkbox="checkbox" filter="filter"
    optionLabel="name"></p-listbox>
    <p-button class="mt-20" label="Save" (click)="addDoctors()"></p-button>