<form [formGroup]="createNote" (ngSubmit)="onSubmit()">
  <div style="margin-top: 20px;">
    <p-card>
      <span class="ui-float-label">
        <textarea pInputTextarea class="input" id="" cols="30" rows="10" formControlName="description"></textarea>
        <label for="float-description">Description</label>
      </span>
      <div *ngIf="inputValidator('description')" class="text-left-mt5">
        <span style="display: block;" *ngIf="inputRequiredValidator('description')">Description is required</span>
        <span style="display: block;" *ngIf="inputMaxLengthValidator('description')">The text is very long, maximum size 255</span>
      </div>
      <input type="date" formControlName="dateNote" class="input">
      <p-button label="Update" type="submit" [disabled]="formValidator">
      </p-button>
    </p-card>
  </div>
</form>