<div style="margin-bottom: 2%;">
  <span class="ui-float-label input">
    <input id="float-name" type="text" [(ngModel)]="name" size="30" pInputText>
    <label for="float-name">Name</label>
  </span>
  <span class="ui-float-label input">
    <input id="float-lastname" type="text" [(ngModel)]="lastName" size="30" pInputText>
    <label for="float-lastname">Lastname</label>
  </span>
  <p-button class="mt-20" label="Search" type="submit" class="input" (click)="searchPatient()"></p-button>
</div>
<div *ngIf="patients.length > 0" class="mt-50" infiniteScroll [infiniteScrollDistance]="3" (scrolled)="scrolled()">
  <div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-4" *ngFor="let patient of patients">
      <div class="box mt-2">
        <app-patient-item [patient]="patient"></app-patient-item>
      </div>
    </div>
  </div>
</div>