<p-dataView [value]="hospitals" [paginator]="true" [rows]="10">
    <p-header>Hospitals</p-header>
    <ng-template let-hospital pTemplate="listItem">
        <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-12 ui-md-6 car-details">
                <div class="ui-g">
                    <div class="ui-g-2 ui-sm-6">Name: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{hospital.name}}</b></div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-3" style="text-align:center">
            </div>
            <div class="ui-g-12 ui-md-3">
                <button pButton type="button" class="ml-10" icon="pi pi-users" pTooltip="Show doctors"
                    tooltipPosition="bottom" (click)="showDoctorsHospital(hospital.doctors)"></button>
                <button pButton type="button" class="ml-10" icon="pi pi-users" pTooltip="Show patients"
                    tooltipPosition="bottom" (click)="showPatientsHospital(hospital.patients)"></button>

                <button pButton type="button" class="ui-button-warning ml-10" icon="pi pi-plus"
                    pTooltip="Add patient to hospital" tooltipPosition="bottom" (click)="showAddPatientHospital(hospital.id)"></button>
                <button pButton type="button" class="ui-button-warning ml-10" icon="pi pi-plus"
                    pTooltip="Add doctor to hospital" tooltipPosition="bottom" (click)="showAddDoctorHospital(hospital.id)"></button>
                <button pButton type="button" class="ui-button-warning ml-10" icon="pi pi-pencil"
                    pTooltip="Edit hospital information" tooltipPosition="bottom" (click)="showUpdateHospitalPanel(hospital)"></button>
                <button pButton type="button" class="ui-button-danger ml-10" icon="pi pi-trash"
                    pTooltip="Delete hospital" tooltipPosition="bottom" (click)="deleteHospital(hospital.id)"></button>
            </div>
        </div>
    </ng-template>
</p-dataView>
<p-dialog header="Doctors" [(visible)]="showDoctors" [modal]="true" [responsive]="true" [maximizable]="true"
    [baseZIndex]="10000">
    <app-doctors-list-for-patient [doctors]="doctors"></app-doctors-list-for-patient>
    <p-footer>
        <button type="button" pButton icon="pi pi-close" (click)="showDoctors=false" label="Close"
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Patients" [(visible)]="showPatients" [modal]="true"
    [responsive]="true" [maximizable]="true" [baseZIndex]="10000">
    <app-patient-list-for-doctor [patients]="patients"></app-patient-list-for-doctor>
    <p-footer>
        <button type="button" pButton icon="pi pi-close" (click)="showPatients=false" label="Close"
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>

<p-dialog *ngIf="hospitalId != null" header="Patients" [style]="{'max-width': '400px'}" [(visible)]="showAddPatient" [modal]="true" [responsive]="true" [maximizable]="true"
    [baseZIndex]="10000">
    <app-patient-list-for-hospital [hospitalId]="hospitalId"></app-patient-list-for-hospital>
    <p-footer>
        <button type="button" pButton icon="pi pi-close" (click)="closeDialogAddPatient()" label="Close"
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>

<p-dialog *ngIf="hospitalId != null" header="Doctors" [style]="{'max-width': '400px'}" [(visible)]="showAddDoctor" [modal]="true" [responsive]="true" [maximizable]="true"
    [baseZIndex]="10000">
    <app-doctor-list-for-hospital [hospitalId]="hospitalId"></app-doctor-list-for-hospital>
    <p-footer>
        <button type="button" pButton icon="pi pi-close" (click)="closeDialogAddDoctor()" label="Close"
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>

<p-dialog *ngIf="hospital != null" header="Edit hospital" [style]="{'max-width': '400px'}" [(visible)]="showUpdateHospital" [modal]="true" [responsive]="true" [maximizable]="true"
    [baseZIndex]="10000">
    <app-hospital-update [hospital]="hospital"></app-hospital-update>
    <p-footer>
        <button type="button" pButton icon="pi pi-close" (click)="closeDialogUpdateHospital()" label="Close"
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>