<div class="ui-g">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-12 pad-0">
            <app-navbar></app-navbar>
        </div>
        <div class="ui-g-12 ui-g-nopad pad-15">
            <div class="ui-g-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="ui-g-12 pad-0 mt-190">
        <app-footer></app-footer>
    </div>
</div>
