<p-dataView [value]="patients" [paginator]="true" [rows]="10">
    <p-header>Patients</p-header>
    <ng-template let-patient pTemplate="listItem">
        <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-12 ui-md-3" style="text-align:center">
                <img src="assets/img/logo.png" width="100px" height="100px">
            </div>
            <div class="ui-g-12 ui-md-6 car-details">
                <div class="ui-g">
                    <div class="ui-g-2 ui-sm-6">Name: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{patient.name}}</b></div>

                    <div class="ui-g-2 ui-sm-6">Lastname: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{patient.lastName}}</b></div>

                    <div class="ui-g-2 ui-sm-6">Address: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{patient.address}}</b></div>

                    <div class="ui-g-2 ui-sm-6">DateBirth: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{patient.dateBirth}}</b></div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-3">
                <button pButton type="button" class="ml-10" icon="pi pi-users" pTooltip="Show doctors"
                    tooltipPosition="bottom" (click)="showDoctorsPatient(patient.doctors)"></button>
                <button pButton type="button" class="ui-button-info ml-10" icon="pi pi-file" pTooltip="Patient notes"
                    tooltipPosition="bottom" (click)="showNotesPatient(patient.notes)"></button>
                <button pButton type="button" class="ui-button-warning ml-10" icon="pi pi-plus"
                    pTooltip="Add note to patient" tooltipPosition="bottom"
                    (click)="addNotesPatient(patient.id)"></button>
                <button pButton type="button" class="ui-button-warning ml-10" icon="pi pi-pencil"
                    pTooltip="Edit patient information" tooltipPosition="bottom"
                    (click)="updatePatient(patient)"></button>
                <button pButton type="button" class="ui-button-danger ml-10" icon="pi pi-trash"
                    pTooltip="Delete patient" tooltipPosition="bottom" (click)="deletePatient(patient.id)"></button>
            </div>
        </div>
    </ng-template>
</p-dataView>

<p-dialog header="Doctors" [(visible)]="showDoctors" [modal]="true" [responsive]="true" [maximizable]="true"
    [baseZIndex]="10000">
    <app-doctors-list-for-patient [doctors]="doctorsPatient"></app-doctors-list-for-patient>
    <p-footer>
        <button type="button" pButton icon="pi pi-close" (click)="showDoctors=false" label="Close"
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>
<p-dialog header="Notes" [(visible)]="showNotes" [modal]="true" [responsive]="true" [maximizable]="true"
    [baseZIndex]="10000">
    <app-note-list [notes]="patientsNotes"></app-note-list>
    <p-footer>
        <button type="button" pButton icon="pi pi-close" (click)="showNotes=false" label="Close"
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Create a note" [style]="{'max-width': '400px'}" [(visible)]="showAddNote" [modal]="true"
    [responsive]="true" [maximizable]="true" [baseZIndex]="10000">
    <app-note-create [patientId]="patientId"></app-note-create>
    <p-footer>
        <button type="button" pButton icon="pi pi-close" (click)="showAddNote=false" label="Close"
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>

<p-dialog *ngIf="patient != null" header="Update patient" [style]="{'max-width': '400px'}" [(visible)]="showUpdatePatient" [modal]="true"
    [responsive]="true" [maximizable]="true" [baseZIndex]="10000">
    <app-patient-update [patient]="patient"></app-patient-update>
    <p-footer>
        <button type="button" pButton icon="pi pi-close" (click)="closeUpdatePatient()" label="Close"
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>