<p-card styleClass="ui-card-shadow" [style]="{'text-align': 'center'}">
  <img src="assets/img/logo.png" alt="profileImage" width="100px" height="100px">
  <p><strong>Name: </strong>{{ patient.name }}</p>
  <p><strong>Lastname: </strong>{{ patient.lastName}}</p>
  <p><strong>Date of Birth: </strong>{{ patient.dateBirth | date }}</p>
  <p><strong>Address: </strong>{{ patient.address}}</p>
</p-card>