<p-table [columns]="cols" [value]="doctors" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns" style="word-wrap: break-word;">
        <ng-container *ngIf="isArray(rowData[col.field]); else elseTemplate">
          <ul *ngFor="let speciality of rowData[col.field]">
            <li>
              {{ speciality.name }}
            </li>
          </ul>
        </ng-container>
        <ng-template #elseTemplate>
          {{ rowData[col.field] }}
        </ng-template>
      </td>
    </tr>
  </ng-template>
</p-table>