<div style="margin-bottom: 2%;">
  <span class="ui-float-label input">
    <input id="float-name" type="text" [(ngModel)]="name" size="30" pInputText>
    <label for="float-name">Name</label>
  </span>
  <span class="ui-float-label input">
    <input id="float-lastname" type="text" [(ngModel)]="lastName" size="30" pInputText>
    <label for="float-lastname">Lastname</label>
  </span>
  <p-button class="mt-20" label="Search" type="submit" class="input" (click)="searchDoctor()"></p-button>
</div>
<div *ngIf="doctors.length > 0" class="mt-50" infiniteScroll [infiniteScrollDistance]="3" (scrolled)="scrolled()">
  <div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-4" *ngFor="let doctor of doctors">
      <div class="box mt-2">
        <app-doctor-item [doctor]="doctor"></app-doctor-item>
      </div>
    </div>
  </div>
</div>