<form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
  <div class="p-grid p-align-center vertical-container" style="margin-top: 5%;">
    <div class="p-col col-left">
      <div class="box"></div>
    </div>
    <div class="p-col col-centered">
      <div class="box">
        <p-card>
          <p-header>
            <h1>Register doctor</h1>
          </p-header>
          <span class="ui-float-label">
            <input id="float-name" type="text" size="30" pInputText formControlName="name">
            <label for="float-name">Name</label>
          </span>
          <div *ngIf="inputValidator('name')" class="text-left-mt5">
            <span style="display: block;" *ngIf="inputRequiredValidator('name')">Name is required</span>
            <span style="display: block;" *ngIf="inputMaxLengthValidator('name')">The text is very long, maximum size 255</span>
          </div>
          <span class="ui-float-label">
            <input id="float-lastName" type="text" size="30" pInputText formControlName="lastName">
            <label for="float-lastName">Lastname</label>
          </span>
          <div *ngIf="inputValidator('lastName')" class="text-left-mt5">
            <span style="display: block;" *ngIf="inputRequiredValidator('lastName')">Lastname is required</span>
            <span style="display: block;" *ngIf="inputMaxLengthValidator('lastName')">The text is very long, maximum size 255</span>
          </div>
          <span class="ui-float-label" style="float: left;">
            Date of Birth
          </span>
          <input type="date" formControlName="dateBirth" class="input-date">
          <div *ngIf="inputValidator('dateBirth')" class="text-left-mt5">
            <span style="display: block;" *ngIf="inputRequiredValidator('dateBirth')">Date is required</span>
          </div>
          <span class="ui-float-label">
            <input id="float-address" type="text" size="30" pInputText formControlName="address">
            <label for="float-address">Address</label>
          </span>
          <div *ngIf="inputValidator('address')" class="text-left-mt5">
            <span style="display: block;" *ngIf="inputRequiredValidator('address')">Address is required</span>
            <span style="display: block;" *ngIf="inputMaxLengthValidator('address')">The text is very long, maximum size 255</span>
          </div>
          <br>
          <div>
            <span style="float: left;">Specialities</span><br>
            <p-multiSelect [options]="specialitiesFormat" [style]="{'width': '100%'}" formControlName="specialities" [panelStyle]="{minWidth:'100%'}"></p-multiSelect>
          </div>
          <div style="margin-top: 10px;"></div>
          <p-button class="mt-20" label="Save" type="submit" [disabled]="formValidator"></p-button>
        </p-card>
      </div>
    </div>
    <div class="p-col col-right">
      <div class="box"></div>
    </div>
  </div>
</form>