h1 {
  font-weight: normal;
  text-align: center;
}

:host::ng-deep .ui-inputtext {
  width: 100%;
}

.input-date {
  margin-top: 10px;
  width: 100%;
  padding: 7px;
}

:host::ng-deep .ui-button {
  margin-top: 20px;
  width: 100%;
}

:host::ng-deep .ui-card {
  box-shadow: 0 6px 8px rgba(102, 119, 136, 0.03),
    0 1px 2px rgba(102, 119, 136, 0.3);
  background: none;
  border-radius: 7px;
}

:host::ng-deep .ui-card-header.ng-star-inserted {
  padding: 20px;
}

:host {
  text-align: center;
  display: block;
}

p-button {
  width: 100%;
}

.ui-float-label {
  margin-top: 20px;
}

.p-grid {
  margin-right: 0;
  margin-top: 10%;
}

.text-left-mt5 {
  text-align: left;
  margin-top: 5px;
  color: #ff0000;
}

.mt-20 {
  margin-top: 20px;
}

@media (max-width: 1000px) {
  .col-left,
  .col-right {
    display: none;
  }

  .col-centered {
    margin-left: 7px;
    margin-right: 0;
  }

  :host::ng-deep .ui-card {
    box-shadow: none;
    border: none;
  }
}
