<form [formGroup]="hospitalForm" (ngSubmit)="onSubmit()">
  <div class="p-grid p-align-center vertical-container" style="margin-top: 5%;">
    <div class="p-col col-left">
      <div class="box"></div>
    </div>
    <div class="p-col col-centered">
      <div class="box">
        <p-card>
          <p-header>
            <h1>Register hospital</h1>
          </p-header>
          <span class="ui-float-label">
            <input id="float-name" type="text" size="30" pInputText formControlName="name">
            <label for="float-name">Name</label>
          </span>
          <div *ngIf="inputValidator('name')" class="text-left-mt5">
            <span style="display: block;" *ngIf="inputRequiredValidator('name')">Name is required</span>
            <span style="display: block;" *ngIf="inputMaxLengthValidator('name')">The text is very long, maximum size 255</span>
          </div>
          <br>
          <div>
            <span style="float: left;">Doctors</span><br>
            <p-multiSelect [options]="doctorsFormat" [style]="{'width': '100%'}" formControlName="doctors" [panelStyle]="{minWidth:'100%'}"></p-multiSelect>
          </div>
          <br>
          <div>
            <span style="float: left;">Patients</span><br>
            <p-multiSelect [options]="patientsFormat" [style]="{'width': '100%'}" formControlName="patients" [panelStyle]="{minWidth:'100%'}"></p-multiSelect>
          </div>
          <div style="margin-top: 10px;"></div>
          <p-button class="mt-20" label="Save" type="submit" [disabled]="formValidator"></p-button>
        </p-card>
      </div>
    </div>
    <div class="p-col col-right">
      <div class="box"></div>
    </div>
  </div>
</form>